.notfound {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notfound img {
  width: 200px;
}

.notfound h1 {
  color: #ccc;
}